{{outlet}}
<div class="container">
<h1>BUY CHEAP GAMES NOW!</h1>

{{#each model.products as |product|}}
  {{product-tile product=product addToTotal="addToTotal" writeReview="writeReview"}}
{{/each}}

{{display-cart}}
</div>
